USE [master]
GO
/****** Object:  Database [ecommerce]    Script Date: 2018-11-20 12:29:43 PM ******/
CREATE DATABASE [ecommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ecommerce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ecommerce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ecommerce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ecommerce_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ecommerce]
GO
USE [ecommerce]
GO
/****** Object:  Table [dbo].[ARTICLES]    Script Date: 2018-11-20 12:29:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICLES](
	[idarticle] [int] IDENTITY(1,1) NOT NULL,
	[prix] [float] NULL,
	[quantite] [int] NOT NULL,
	[img] [varchar](20) NULL,
	[categorienom] [varchar](250) NULL,
	[datecreation] [date] NULL,
	[marque] [varchar](50) NOT NULL,
	[model] [varchar](50) NULL,
 CONSTRAINT [pk_Articles] PRIMARY KEY CLUSTERED 
(
	[idarticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIE]    Script Date: 2018-11-20 12:29:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIE](
	[categorienom] [varchar](250) NOT NULL,
	[datecreation] [date] NULL,
	[imgctg] [varchar](200) NULL,
 CONSTRAINT [PK_categorienom] PRIMARY KEY CLUSTERED 
(
	[categorienom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFIL]    Script Date: 2018-11-20 12:29:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFIL](
	[idprofil] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[adresse] [varchar](50) NULL,
	[ville] [varchar](20) NULL,
	[pays] [varchar](20) NULL,
 CONSTRAINT [pk_Profil] PRIMARY KEY CLUSTERED 
(
	[idprofil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONSECRET]    Script Date: 2018-11-20 12:29:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONSECRET](
	[idquestion] [int] IDENTITY(1,1) NOT NULL,
	[question] [varchar](150) NULL,
 CONSTRAINT [pk_Question] PRIMARY KEY CLUSTERED 
(
	[idquestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2018-11-20 12:29:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[idquestion] [int] NULL,
	[reponsesc] [varchar](20) NOT NULL,
 CONSTRAINT [pk_User] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARTICLES]  WITH CHECK ADD  CONSTRAINT [FK_ArticlesCategorie] FOREIGN KEY([categorienom])
REFERENCES [dbo].[CATEGORIE] ([categorienom])
GO
ALTER TABLE [dbo].[ARTICLES] CHECK CONSTRAINT [FK_ArticlesCategorie]
GO
ALTER TABLE [dbo].[PROFIL]  WITH CHECK ADD  CONSTRAINT [fk_ProfilUser] FOREIGN KEY([username])
REFERENCES [dbo].[USERS] ([username])
GO
ALTER TABLE [dbo].[PROFIL] CHECK CONSTRAINT [fk_ProfilUser]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [fk_UserQuestionSecret] FOREIGN KEY([idquestion])
REFERENCES [dbo].[QUESTIONSECRET] ([idquestion])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [fk_UserQuestionSecret]
GO
/****** Object:  StoredProcedure [dbo].[SelectAllProduitsbyModel]    Script Date: 2018-11-20 12:29:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectAllProduitsbyModel] @model varchar(50)
AS
SELECT * FROM ARTICLES WHERE  (model LIKE '%'+IsNull(@model,model)+'%')
GO
USE [master]
GO
